
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-tubitv:before { content: '\e801'; } /* '' */
.icon-hidive:before { content: '\e802'; } /* '' */
.icon-netflix:before { content: '\e803'; } /* '' */
.icon-daisuki:before { content: '\e804'; } /* '' */
.icon-amazon-alt:before { content: '\e805'; } /* '' */
.icon-crunchyroll:before { content: '\e806'; } /* '' */
.icon-funimation:before { content: '\e807'; } /* '' */
.icon-hulu:before { content: '\e808'; } /* '' */
.icon-amazon:before { content: '\e809'; } /* '' */
.icon-youtube-alt:before { content: '\f167'; } /* '' */